.login-form .card-body {
    background-color: #00adff !important;
}
.login-form h3.card-header.text-center {
    background-color: #83b983;
}

.signup-form h3.card-header.text-center {
    background-color: #b97070;
}
.signup-form .card-body {
    background-color: darkgray;
}
.antialiased a.text-sm.text-gray-700.dark\:text-gray-500.underline {
    font-size: 38px;
    font-weight: 700;
    background-color: red;
    padding: 5px 15px !important;
}

section.all-posts-wrap {
    margin: 30px 0 30px 0;
    border: 10px solid #0035f7;
    border-radius: 12px;
    padding: 18px;
    background-color: #0035f7;
}
section.all-posts-wrap .container > h2 {
    text-align: center;
    padding: 10px 0px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
/* Create two equal columns that floats next to each other */
.all-posts-wrap .column {
    float: left;
    width: 46%;
    padding: 10px;
    border: 2px solid;
    margin: 20px;
    background-color: #fff;
  }
  
  /* Clear floats after the columns */
  .all-posts-wrap .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .all-posts-wrap .column a {
    color: #0e0e0e;
    text-decoration: none;
}
.all-posts-wrap .column h2 {
    margin-top : 5px;
}

.all-posts-wrap .column video {
    width: 100%;
}
.all-posts-wrap div > h1 {
    color: #fff;
    font-weight: 600;
}
.dashboard-top-sec-wrap .top-btns{
    display: flex;
    padding-left: 20px;
}
.col.top-btns div {
    padding-right: 10px;
}
.single-post-wrap .col-md-12 {
    margin: 30px 0px 0px 0px;
    display: flex;
}
.single-post-wrap .col-md-12.form-group label {
    display: block;
}
.single-post-wrap .col-md-12.form-group video {
    width: 80%;
}
.single-post-wrap .col-md-12.form-group .delete-btn {
    margin-top: 20px;
}
button.btn.post-update-btn {
    margin-top: 25px;
}
.table-row {
    margin: 30px 0px;
    border: 2px solid #ddd;
    border-bottom: 10px solid #ddd;
    border-top: 10px solid #ddd;
    border-radius: 25px;
    padding: 0px 25px 0px 25px;
    
}
.table-row h2 {
    font-weight: 700;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* ===== Stripe form CSS ========= */
.submit-button {
    margin-top: 10px;
}
.form-horizontal .form-group {
    margin-right: 0px !important;
}
.card{
    display: inline !important;
    border: none !important; 
    border-radius: none !important;
}

/* ======== End ========= */